@import "~vue-material/dist/theme/engine";

.template-details-root {
  position: relative;
  overflow: scroll;
}

.template-details-card {
  margin: 48px 0px;
  width: 95%;
  max-width: 900px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.template-info {
  padding: 12px 0px;
}

.mail-html-input {
  display: flex;
  position: relative;
  height: auto;
  flex-direction: column;
  padding: 12px;
  width: 100%;
  .html-editor {
    height: 500px;
  }
  label {
    color: md-get-palette-color(grey, 600);
  }
}