.progress-spinner {
  padding: 48px 48px;
  align-content: center;
}

.template-details-root {
  overflow: scroll;
}

.template-details-card {
  margin: 48px 0px;
  width: 900px;
  max-width: 900px;
}

.template-info {
  padding: 12px 0px;
}