.progress-spinner {
  padding: 48px 48px;
  align-content: center;
}

.template-details-root {
  height: 100%;
  position: relative;
  overflow: auto;
}

.template-details-card {
  margin: 48px 0px;
  width: 95%;
  max-width: 900px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.template-info {
  padding: 12px 0px;
}

.template-data {
  white-space: pre-wrap
}